#evolution {
  width: 100%;
  font-family: Sans-Serif, Arial;
}
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text,
.title-text,
.day-text {
  font-size: 12px;
  text-anchor: middle;
}

.day-text {
  font-weight: bold;
}

.teams {
  font-family: Sans-Serif, Arial;
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px 30px 50px;
  padding: 0;
  font-size: 0.9em;
}

.teams li {
  list-style: none;
  flex: 1 1 20%;
  margin: 0 0 5px 0;
  padding: 0;
}

.teams li.all {
  list-style: none;
  flex: 1 1 100%;
  margin: 0 0 5px 0;
  padding: 0;
}

.teams li label {
  display: flex;
  align-content: center;
}

.line {
  opacity: 1;
  fill: none;
  stroke-width: 1.5px;
}

.line.line-hidden {
  opacity: 0.1;
}

.line.active {
  opacity: 1;
  stroke-width: 2.5px;
  cursor: pointer;
}

.circle {
  cursor: pointer;
  opacity: 0.85;
}

.circles-group.circle-hidden {
  opacity: 0.25;
}

.circles-group.active {
  opacity: 1;
}

.line.hidden,
.circles-group.hidden {
  display: none;
}
